body{
    p.dotted {border-style: dotted;}
    p.dotted {
        border-style: double;
        border-width: 15px;
      }
    p.dashed {border-style: dashed;}
    p.dashed{
       
            border-style: solid;
            border-color: red;
        
    }
    p.solid {border-style: solid;}
    p {
        border: 5px solid red;
      }

    p.double {border-style: double;}
    p.groove {border-style: groove;}
    p.ridge {border-style: ridge;}
    p.inset {border-style: inset;}
    p.outset {border-style: outset;}
    p.none {border-style: none;}
    p.hidden {border-style: hidden;}
    p.mix {border-style: dotted dashed solid double;}
}