#p1{
    margin-left: 20px;
    border: dotted;
    background-color: aquamarine;
}
#p2{

    margin: 25px;
    margin-left: 20px;
    border: dotted;
 border-color: black;
    padding: 50px;
    background-color: blueviolet;

}